.priority p {
  display: inline-block;
}

.form-element {
  padding: 10px;
}

#show-task {
  display: none;
}

.task:hover {
  text-decoration: underline;
}

.task {
  cursor: pointer;
  color: #0088cc;
}
