.priority p {
  display: inline-block;
  font-weight: bold;
}

.form-element {
  padding: 10px;
}

#due {
  width: 30%;
  display: inline-block;
}

#show-task {
  display: none;
}

.task:hover {
  text-decoration: underline;
}

.task {
  cursor: pointer;
  color: #0088cc;
  padding-left: 10px;
}
